@charset "utf-8";

body {
  font-family: "Zen Maru Gothic", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

h3::after {
  content: '';
  display: block;
  width: 700px;
  height: 3px;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 0px;
}

p3 {
  font-size: 30px;
  color: red;
}

.title {
  height: 310px;
  background-image: url(../images/kawarobo/hai3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.con {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.use {
  margin-top: 30px;
  margin-bottom: 30px;
}

.use p {
  font-size: 24px;
  line-height: 1.5;
}

.img1 img {
  width: 300px;
}

.img2 img {
  width: 450px;
}

.img3 img {
  width: 100%;
}

.list2 {
  width: 100%;
  max-width: 100%;
  margin: 0px auto 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
  justify-content: center;
}

.list4 {
  width: 100%;
  max-width: 100%;
  margin: 0px auto 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.contents {
  margin-top: 30px;
  margin-bottom: 70px;
}

.contents p {
  font-size: 24px;
  margin-bottom: 30px;
}

.contents p1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.contents p1::after {
  content: '';
  display: block;
  width: 170px;
  height: 3px;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 0px;
}

.contents p2 {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.5;
}


.contents p4 {
  font-size: 45px;
  margin-bottom: 30px;
}

.cando-list {
  width: 100%;
  max-width: 100%;
  margin: 0px auto 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.UI-list {
  width: 100%;
  max-width: 100%;
  margin: 0px auto 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.demo {
  margin-bottom: 100px;
}

.list2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  justify-items: center;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.item1 {
  padding-top: 0px;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img4 img {
  width: 700px;
}

.img5 img {
  width: 600px;
}

.img6 img {
  width: 600px;
}

.img7 img {
  width: 450px;
}

.img13 img {
  width: 450px;
}

.img8 img {
  width: 90%;
  margin-bottom: 30px;
}

.img9 img {
  width: 80%;
}

.git {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  max-width: 500px;
  margin-right: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.git-con {
  display: flex;
  align-items: center;
}

.github-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.git-container {
  display: flex;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.git-con h2 {
  margin: 0;
  font-size: 16px;
}

.git-con p {
  margin: 0;
  font-size: 24px;
  color: #586069;
}

.kaizen {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 200px;
}

.kaizen p {
  font-size: 22px;
  line-height: 1.4;
}
.kaizen h4 {
  background-color: rgba(221, 221, 49, 0.233);
  font-size: 30px;
  line-height: 1.4;
}

.kaizen h5 {
  font-size: 22px;
  line-height: 1.4;
}
h5::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #000000;
  margin-top: 0px;
  margin-left: 0px;
}

.footer {
  margin-top: 100px;
}

@media (max-width: 800px) {
  .con {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    height: 100px;
    background-size: cover;
  }

  .item-list {
    margin-top: 45px;
    row-gap: 40px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h3::after {
    content: '';
    display: block;
    width: 80%;
    height: 3px;
    background-color: #000000;
    margin-top: 10px;
    margin-left: 0px;
  }


  .title h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .title p {
    font-size: 14px;
    margin-top: 15px;
  }

  .use h3 {
    font-size: 20px;
  }
  .use p {
    font-size: 12px;
    line-height: 1.5;
  }
   


  .contents {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .contents p {
    font-size: 14px;
  }

  .contents p1 {
    font-size: 20px;
  }

  .contents p1::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #000000;
    margin-left: 0px;
  }

  .contents p2 {
    font-size: 9px;
  }

  .contents p3 {
    font-size: 14px;
    color: red;
  }

  .contents p4 {
    font-size: 20px;
  }


  .list2 {
    width: 100%;
    max-width: 100%;
    margin: 0px auto 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 10px;
    justify-content: center;
    margin-bottom: 10px; 
    text-align: center;
  }

  .list2 p{
    margin-bottom: 0px;
  }

  .p80{
    width: 70%;
  }

  .siskairozu{
    width: 80%;
  }

  .item-1 {
    order: 1;
  }

  .item-2 {
      order: 3;
  }

  .item-3 {
      order: 2;
  }

  .item-4 {
      order: 4;
  }

  .img1 img {
    width: 150px;
  }
  
  .img2 img {
    width: 450px;
  }
  
  .img3 img {
    width: 100%;
  }

  .list4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px; 
    margin: 0 auto; 
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .list4 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .img1 img {
    width: 60%;
  }

  .img2 img {
    width: 100%;
  }
  
  .list4 p1, .list4 p2, .list4 p3 {
    margin: 0;
  }
  

  .list4 p2 {
    font-size: 12px; 
    line-height: 1.2;
  }

  .o1 {
    order: 1;
  }
  .o6 {
    order: 2;
  }
  .o2 {
    order: 3;
  }
  .o3 {
    order: 4;
  }
  .o4 {
    order: 5;
  }
  .o7 {
    order: 6;
  }
  .o8 {
    order: 7;
  }
  .o9 {
    order: 8;
  }
  .o10 {
    order: 9;
  }


  .UI-list {
    grid-template-columns: 1fr;
  }

  .cando-list {
    display: flex;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: auto;

  }
  
  .cando-list::-webkit-scrollbar {
    display: none;
  }
  
  .cando-list li {
    flex-shrink: 0;
    width: 300px; 
    margin-right: 5px; 
  }
  
  .cando-list li:first-child {
    margin-left: 2200px; 
  }
  
  .cando-list li:last-child {
    margin-right: 0; 
  }
  
  .git-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  

  .git {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 16px;
    max-width: 500px;
    margin-bottom: 30px;
  }

  .git {
    flex: 1 1 100%;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  .git-con {
    display: flex;
    align-items: center;
  }

  .github-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  .git-con h2 {
    margin: 0;
    font-size: 8px;
  }

  .git-con p {
    margin: 0;
    font-size: 14px;
    color: #586069;
  }

  .demo {
    margin-bottom: 20px;
  }

  .d1 {
    text-align: center;
    order: 1;
  }
  .d3 {
    text-align: center;
    order: 2;
  }
  .d2 {
    text-align: center;
    order: 3;
  }
  .d4 {
    text-align: center;
    order: 4;
  }
  .d5 {
    text-align: center;
    order: 5;
  }
  .d7 {
    text-align: center;
    order: 6;
  }
  .d6 {
    text-align: center;
    order: 7;
  }
  .d8 {
    text-align: center;
    order: 8;
  }



  .kaizen {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .kaizen p {
    font-size: 14px;
    line-height: 1.4;
  }
  .kaizen h4 {
    font-size: 16px;
    line-height: 1.4;
  }
  .kaizen h5 {
    font-size: 14px;
    line-height: 1.4;
  }
  h5::after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #000000;
    margin-top: 0px;
    margin-left: 0px;
  }

  .footer {
    margin-top: 50px;
  }
}
