@charset "utf-8";

body {
  font-family: "Zen Maru Gothic", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  height: 310px;
  background-image: url(../images/kawarobo/hai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}



.contents {
  margin-top: 50px;
  max-width: 1500px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.contents h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.5;

}

.contents p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}


.contents h2::after {
  content: '';
  display: block;
  width: 500px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

.chap{
  margin-bottom: 60px;
}

.his-list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 50px;
  row-gap: 40px;
}


.his-list dl {
  margin-top: 20px;
}

.his-list dt {
  font-weight: bold;
}

.his-list dd {
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}

.chap img{
  width: 300px;
}

.git {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  max-width: 400px;
  margin-right: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.git-con {
  display: flex;
  align-items: center;
}

.git-con img{
  width: 60px;
  margin-right: 30px;
}


.git-container {
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.git-con h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}



.footer {
  margin-top: 100px;
}

@media (max-width: 800px) {
  .title {
    height:100px;
    background-size: cover; 
  }

  .title h1 {
    font-size: 20px;
  }

  .contents {
    width: 80%;
    margin-top: 40px;
  }

  .contents h2 {
    font-size: 25px; 
  }

  .contents h2::after {
    content: '';
    display: block;
    width: 230px;
    height: 3px;
    background-color: #000000;
    margin-top: 2px;
  }

  .contents p {
    font-size: 14px;
    line-height: 1.7;
  }

  .his-list {
    display: flex;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .his-list::-webkit-scrollbar {
    display: none; 
  }

  .his-list li {
    flex-shrink: 0;
    width: 300px; 
    margin-right: 50px;
    scroll-snap-align:center; 
  }

  .his-list li:last-child {
    margin-right: 0; 
  }

  .his-list dt {
    font-size: 20px; 
    font-weight: bold;

  }

  .his-list dd {
    font-size: 18px;
  }

  .chap img {
    max-width: 100%;
    height: auto;
  }
  
  .git {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 16px;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .git-con {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .git-con img {
    width: 60px;
    height: auto;
    margin-right: 16px;
  }
  
  .git-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  
  .git-con h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    word-wrap: break-word;
  }


}
